<meta charset="UTF-8">
<script src="https://unpkg.com/vue"> </script>
<div id="app">
    <p v-if="status">Usuario: {{usuario}}</p>
    <p v-else-if="anonimo">navegando sem estar logado</p>
    <p v-else>Nenhum usuario logado</p>
    <button @click="status = !status">
        {{status ? 'Sair':'Entrar'}}
    </button>
    <input type="checkbox" v-model="anonimo">

</div>

<script>
    new Vue({
        el: '#app',
        data:{
            status: false,
            usuario: 'Leonardo',
            anonimo: false,
        }
    })


</script>
