<meta charset="UTF-8">
<script src="https://unpkg.com/vue"> </script>
<div id="app">
    <template v-if="status">
        <p>Usuario logado: {{usuario}}</p>
        <p>Perfil: Admin</p>
    </template>
    <p v-else-if="anonimo">navegando sem estar logado</p>
    <p v-else>Nenhum usuario logado</p>
    <button @click="status = !status">
        {{status ? 'Sair':'Entrar'}}
    </button>
    <input type="checkbox" v-model="anonimo">
    <hr>
    <footer v-show="status">
        <p>ola usuario {{usuario}}</p>
    </footer>
    <footer v-show="!status">
        <p>Você gostaria de logar?</p>
    </footer>


</div>

<script>
    new Vue({
        el: '#app',
        data:{
            status: false,
            usuario: 'Leonardo',
            anonimo: false,
        }
    })


</script>
